<h1>Signup</h1>

<form action="/signup" method="POST">
  <label for="username">User name:</label>
  <input type="text" name="username" placeholder="Your user name" />

  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="********" />

  <button type="submit">Signup</button>
</form>